@import 'variables';

header {
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.header {
    width: 100%;
    margin-top: 40px;
    background-color: $mainColor;
    height: 60px;
}

nav {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    img {
        height: 35px;
        width: auto;
    }
}

ul {
    display: flex;
}

ul li {
    display: flex;
    font-size: 1.2rem;
    margin-right: 10px;
}

.cube {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 60px;
    transition: 800ms;
}

.default-state1 {
    transform: translate(0, -50%) rotateX(90deg);
    transition: 500ms;
    height: 100%;
    width: 100px;
    line-height: 60px;
    color: white;
    background-color: $mainColor;
    cursor: default;
}

.active-state1 {
    transform: rotateX(0deg);
    transition: 500ms;
    height: 100%;
    line-height: 60px;
    color: white;
    width: 100px;
    background-color: $mainColor;
    cursor: default;
}

.default-state {
    transform: translate(0, -50%) rotateX(-90deg);
    transition: 500ms;
    height: 100%;
    width: 100px;
    line-height: 60px;
    color: #666666;
    background-color: $mainColor;
    cursor: default;
}

.active-state {
    transform: translate(0, -100%) rotateX(0deg);
    transition: 500ms;
    height: 100%;
    line-height: 60px;
    color: #666666;
    width: 100px;
    background-color: $mainColor;
    cursor: default;
}

.shadow {
    -webkit-box-shadow: 0 3px 7px 0 rgba(61,51,61,1);
    -moz-box-shadow: 0 3px 7px 0 rgba(61,51,61,1);
    box-shadow: 0 3px 7px 0 rgba(61,51,61,1);
}

.cube:hover .default-state1 {
    background-color: darken($mainColor, 10%);
}

.three {
    background-color: $mainColor;
    height: 30px;
}

.four {
    background-color: rgba($mainColor, 0.9);
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: white;
    height: 150px;
    width: 400px;
    margin-top: 150px;
    margin-right: 12%;
    margin-bottom: 5%;
}
