@import 'variables';
@import 'header';
@import 'footer';
@import 'mainContent';
@import 'portfolio';
@import 'contact';
@font-face {
	font-family: 'Ubuntu';
	src: ('../fonts/Ubuntu.woff2') format('woff2'), ('../fonts/Ubuntu.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: ('../fonts/Ubuntu-Light.woff2') format('woff2'), ('../fonts/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'Ubuntu', sans-serif;
}
