@import 'variables';
@import 'header';
@import 'footer';
@import 'mainContent';
@import 'portfolio';
@import 'contact';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
}
