@import '../../../assets/scss/variables';

.concept-div {
  position: absolute;
  top: 150px;
  background-color: transparentize($secondary-color, 0.1);
  height: 140px;
  width: 280px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  animation: animate-concept-div 1000ms forwards;

  @media(max-width: $tablet-landscape) {
    top: 130px;
  }

  @media(max-width: $phone-landscape) {
    top: 90px;
    left: calc(50% - 140px);
  }

  p {
    font-size: 1.7rem;
    line-height: 3.4rem;
    color: $white;
    transform: rotateX(90deg);
    animation: animate-concept-div-p 700ms forwards;
    &:nth-child(1) {
      animation-delay: 700ms;
    }
    &:nth-child(2) {
      animation-delay: 1300ms;
    }
    &:nth-child(3) {
      animation-delay: 1900ms;
    }
  }
}

@keyframes animate-concept-div {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-concept-div-p {

  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}