@import '../../assets/scss/variables';

.home-content {

  .main-text-holder {

    width: 800px;
    margin: 80px auto;

    @media(max-width: $tablet-portrait) {
      width: 100%;
      margin: 60px auto;
    }

    h1 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
      margin-bottom: 30px;

      @media(max-width: $tablet-portrait) {
        font-size: 1.7rem;
        margin-bottom: 20px;
      }
    }

    h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      text-align: justify;

      @media(max-width: $tablet-portrait) {
        font-size: 1.3rem;
      }
    }
  }

  .articles-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .home-more {
    text-align: center;

    .i-frame-wrapper {
      margin-top: 40px;
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    h2 {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 40px;
        text-align: center;

      @media(max-width: $phone-landscape) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    h3 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
      margin-top: 70px;

      @media(max-width: $phone-landscape) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    h4 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
      margin-top: 40px;

      @media(max-width: $phone-landscape) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    p {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 300;
      margin-top: 40px;
      text-align: justify;

      @media(max-width: $phone-landscape) {
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: left;
      }
    }

    hr {
      margin-top: 70px;
    }

    img {
      margin-top: 40px;
    }
  }
}