@import '../../../assets/scss/variables';

.image-holder {
  padding: 10px;
  background-color: $white;
  transition: 500ms;
  &:hover {
    transform: scale(2);
    transition: 1s;
  }

  @media(max-width: $small-desktop) {
    &:hover {
      transform: scale(1.5);
      transition: 1s;
    }
    &:active {
      transform: scale(1.5);
      transition: 1s;
    }
  }

  @media(max-width: $phone-landscape) {
    &:hover {
      transform: scale(1);
      transition: none;
    }
  }

  .portfolio-image {
    width: 100%;
    height: auto;
  }
}

.horizontal-image-holder {
  width: 21%;
  margin: 3%;

  @media(max-width: $small-desktop) {
    width: 36%;
    margin: 3%;
  }

  @media(max-width: $phone-landscape) {
    width: 80%;
  }

  @media(max-width: $phone-portrait) {
    width: 90%;
  }
}