* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #999999;
}
@keyframes slider {
    0% {
        left: 0;
        opacity: 0;
    }

    4% {
        left: 0;
        opacity: 1;
    }

    20% {
        left: 0;
        opacity: 1;
    }

    24% {
        left: 0;
        opacity: 0;
    }

    25% {
        left: -100%;
        opacity: 0;
    }

    26% {
        left: -100%;
        opacity: 0;
    }

    30% {
        left: -100%;
        opacity: 1;
    }

    45% {
        left: -100%;
        opacity: 1;
    }

    49% {
        left: -100%;
        opacity: 0;
    }

    50% {
        left: -200%;
        opacity: 0;
    }

    54% {
        left: -200%;
        opacity: 1;
    }

    70% {
        left: -200%;
        opacity: 1;
    }

    74% {
        left: -200%;
        opacity: 0;
    }

    75% {
        left: -300%;
        opacity: 0;
    }

    79% {
        left: -300%;
        opacity: 1;
    }

    95% {
        left: -300%;
        opacity: 1;
    }

    99% {
        left: -300%;
        opacity: 0;
    }

    100% {
        left: -300%;
        opacity: 0;
    }
}

#slider {
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#slider figure img {
    width: 25%;
    float: left;
}

#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}

.cube {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 50px;
    background-color: #2ecc71;
    perspective: 2000px;
}

.default-state1 {
    background: darken(#2ecc71, 7%);
    transform: translate(0, 25px) rotateX(90deg);
    transition: 250ms;
    height: 50px;
    width: 100px;
    line-height: 50px;
    color: white;

}

.active-state1 {
    // background: darken(#2ecc71, 7%);
    transform: rotateX(0deg);
    transition: 250ms;
    height: 50px;
    line-height: 50px;
    color: white;
    width: 100px;

}
.default-state {
    background: darken(#2ecc71, 7%);
    transform: translate(0, -75px) rotateX(-90deg);
    transition: 250ms;
    height: 50px;
    width: 100px;
    line-height: 50px;
    color: white;

}

.active-state {
    // background: darken(#2ecc71, 7%);
    transform: translate(0, -50px) rotateX(0deg);
    transition: 250ms;
    height: 50px;
    line-height: 50px;
    color: white;
    width: 100px;

}

.container {
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 10%;
}

.one {
    background-color: #CD72B3;
    color: white;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    height: 250px;

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}

.two {
    background-color: #CDF845;
    color: white;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    display: inline-block;
    height: 240px;
    margin-left: 5%;
    margin-right: 5%;

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}
ul li{
  display: inline-block;
  margin-right: 22px;
  font-size: 18px;
}
ul{
  margin-left: 100px;
}
.navi{
  height: 100px;
  line-height: 100px;
}
