@import '../../assets/scss/variables';

.offer {

  .offer-navigation-holder {
    width: 100%;
    background-color: $secondary-color;

    .offer-navigation {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 15px;

      @media(max-width: $desktop) {
        width: 1100px;
      }

      @media(max-width: $tablet-landscape) {
        width: 750px;
      }

      @media(max-width: $phone-landscape) {
        width: 100%;
      }
    }
  }
}

.offer-group {
  width: 700px;
  margin: 100px auto;
  position: relative;
  border-bottom: 1px solid $main-font-color;

  @media(max-width: $desktop) {
    width: 100%;
  }

  @media(max-width: $phone-landscape) {
    margin: 50px auto;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: $light-black;

    @media(max-width: $phone-landscape) {
      font-size: 1.7rem;
    }
  }

  p {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 60px;
    line-height: 1.2;

    @media(max-width: $phone-landscape) {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }

    span {
      display: block;
    }
  }

  .offer-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width: $desktop) {
      margin-bottom: 60px;
    }

    @media(max-width: $tablet-portrait) {
      justify-content: center;
    }

    @media(max-width: $phone-landscape) {
      margin-bottom: 30px;
    }

    .offer-image {
      width: 350px;
      position: absolute;
      &:nth-child(1) {
        top: 85px;
        left: -390px;
      }
      &:nth-child(2) {
        top: 85px;
        left: 740px;
      }

      @media(max-width: $desktop) {
        position: static;
        width: 45%;
        margin-top: 20px;
      }

      @media(max-width: $tablet-portrait) {
        width: 60%;
      }

      @media(max-width: $phone-big-portrait) {
        width: 80%;
      }
    }

    img {
      width: 100%;
    }
  }

  .offer-table {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    line-height: 3.4rem;

    @media(max-width: $phone-landscape) {
      font-size: 1.4rem;
      line-height: 2.8rem;
    }

    @media(max-width: $small-phone-portrait) {
      font-size: 1.2rem;
      line-height: 2.4rem;
    }

    .subtitle {
      width: 100%;
      margin-bottom: 20px;
    }

    .product-name {
      display: block;
      width: 40%;
      border-right: 1px solid $main-font-color;
      color: $light-black;
    }

    .price {
      width: 15%;
      display: block;
      text-align: center;
      border-right: 1px solid $main-font-color;
    }
  }
}