@import '../../../assets/scss/variables';

@keyframes promotion-div {
  0% {
    opacity: 0;
    width: 0;
  }

  20% {
    width: 100%;
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes promotion {
  0% {
    transform: rotateX(90deg);
  }

  30% {
    transform: rotateX(90deg);
  }

  35% {
    transform: rotateX(0deg);
  }

  76% {
    transform: rotateX(0deg);
  }

  77% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(90deg);
  }
}

.promotion-holder {
  background-color: $secondary-color;
  padding: 17px;
  margin: 0 auto;
  height: 140px;
  width: 100%;
  text-align: center;
  animation: promotion-div 10s infinite;

  p {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 3.4rem;
    color: $white;
    transform: rotateX(90deg);
    animation: promotion 10s infinite;

    span {
      font-weight: 900;
    }
  }

  p:nth-child(2) {
    animation-delay: 300ms;
  }

  p:nth-child(3) {
    animation-delay: 600ms;
  }
}