@import '../../assets/scss/variables';

footer {
  background-color: $main-color;
  width: 100%;

  .footer-content {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 35px;
      width: auto;
      margin: 0 5px;
    }

    div {

      a {
        display: flex;
        line-height: 35px;
        text-align: center;
        text-decoration: none;
        color: white;

        p {
          font-size: 1.5rem;

          @media(max-width: $phone-landscape) {
            display: none;
          }
        }

        h2 {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}