@import '../../assets/scss/variables';

.contact {
  text-align: center;
  padding: 100px 0;

  @media(max-width: $tablet-portrait) {
    padding: 50px 0;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 3rem;

    @media(max-width: $phone-big-portrait) {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    a {
      display: block;
      font-size: inherit;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 20px 0;

    @media(max-width: $phone-big-portrait) {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    span {
      display: block;
      font-size: 1.4rem;
      line-height: 2rem;

      @media(max-width: $phone-big-portrait) {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }

  .phone-mail-container {
    width: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $phone-big-portrait) {
      width: 100%;
    }

    img{
      background-color: $main-color;

      @media(max-width: $phone-portrait) {
        transform: scale(0.8);
      }
    }
  }
}