@import '../../../assets/scss/variables';

.hamburger {
  display: none;

  @media(max-width: $phone-landscape) {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;

    span {
      position: absolute;
      display: block;
      height: 3px;
      background-color: $main-font-color;
      transition: 250ms ease-in-out;
    }

    .closed-hamburger {

      span {
        width: 25px;
        &:nth-child(1) {
          top: 2px;
          transition-delay: 500ms;
        }
        &:nth-child(2) {
          top: 11px;
          transition-delay: 625ms;
        }
        &:nth-child(3) {
          top: 20px;
          transition-delay: 750ms;
        }
      }
    }

    .opened-hamburger {

      span {
        width: 0;
        top: 11px;
        left: 12px;
        &:nth-child(1) {
          transform: rotate(45deg);
          transition-delay: 0ms;
        }
        &:nth-child(2) {
          transform: rotate(135deg);
          transition-delay: 200ms;
        }
      }
    }
  }
}

.active-hamburger {

  .closed-hamburger {

    span {
      width: 0;
      &:nth-child(1) {
        transition-delay: 0ms;
      }
      &:nth-child(2) {
        transition-delay: 125ms;
      }
      &:nth-child(3) {
        transition-delay: 250ms;
      }
    }
  }
  .opened-hamburger {

    span {
      width: 25px;
      left: 0;
      &:nth-child(1) {
        transition-delay: 625ms;
      }
      &:nth-child(2) {
        transition-delay: 375ms;
      }
    }
  }
}