@import '../../../assets/scss/variables';

.go-to-top {
  position: fixed;
  bottom: 80px;
  right: 30px;
  opacity: 1;
  transition: 300ms;
  z-index: 1;
  background-color: $main-color;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 3px;

  img {
    width: 100%;
  }
}

.blank {
  right: -40px;
  opacity: 0;
  transition: 300ms;
}