@import 'assets/scss/variables';
@import 'assets/scss/reset.scss';

//global styles

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Light.eot');
  src: url('./assets/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Ubuntu-Light.woff2') format('woff2'),
  url('./assets/fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  color: $main-font-color;
}


.content-container {
  width: 1200px;
  margin: 0 auto;

  @media(max-width: $desktop) {
    width: 80%;
  }

  @media(max-width: $tablet-landscape) {
    width: 90%;
  }
}