@import '../../../assets/scss/variables';

.section {
  width: 290px;
  height: 400px;
  border: 3px solid $main-color;
  padding-top: 56px;
  line-height: 1.7rem;
  transform: rotateY(0);
  transition: 500ms;
  position: relative;
  margin: 40px 30px;
  text-align: center;

  @media(max-width: $phone-portrait) {
    margin: 40px 0;
    width: 270px;
  }

  img {
    display: block;
    position: absolute;
    background-color: white;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    width: 100px;
    height: auto;
    top: -110px;
    left: 92px;

    @media(max-width: $phone-portrait) {
      left: 87px;
      width: 90px;
      top: -105px;
    }
  }

  .article-front {
    position: absolute;
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;

    h3 {
      font-size: 1.6rem;
      line-height: 3.4rem;
      font-weight: 300;

      a {
        text-decoration: none;
        color: $main-font-color;
      }
    }
  }

  .article-back {
    position: absolute;
    transform: rotateY(180deg);
    opacity: 0;
    z-index: 0;
    text-align: justify;
    height: 100%;

    p {
      font-size: 1.3rem;
      line-height: 1.6rem;
      font-weight: 300;
      padding: 10px 10px;

      @media(max-width: $phone-portrait) {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 4rem;
    color: $white;
    background-color: $main-color;
    margin-bottom: 10px;
    text-align: center;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    background-color: $main-color;
    margin-top: 10px;
    position: absolute;
    bottom: 56px;
    width: 100%;
    text-align: center;
  }
}

.section-rotated {

    transform: rotateY(180deg);

  .article-front {
    opacity: 0;
    z-index: 0;
  }

  .article-back {
    opacity: 1;
    z-index: 1;
  }
}