@import '../../assets/scss/variables';

.portfolio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $main-font-color;
  justify-content: center;
  padding-bottom: 120px;

  @media(max-width: $small-desktop) {
    padding-bottom: 60px;
  }
}
