@import '../../../assets/scss/variables';

.link-to {
  display: flex;
  margin-right: 10px;
  outline: 0;

  @media(max-width: $phone-landscape) {
    margin-right: 0;
  }

  .link {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 110px;
    height: 60px;
    transition: 800ms;
    line-height: 60px;
    text-decoration: none;
    font-size: 1.5rem;

    @media(max-width: $phone-landscape) {
      width: 90%;
      max-width: 500px;
      margin: 5px auto;
      font-size: 1.8rem;
    }

    .active-side {
      transform: translate(0, -50%) rotateX(-90deg);
      transition: 500ms;
      color: $main-font-color;
      background-color: darken($main-color, 20%);
      cursor: default;

      @media(max-width: $phone-landscape) {
        transform: translate(0, 0) rotateX(0deg);
        transition: none;
        background-color: $main-color;
      }
    }

    .inactive-side {
      transform: translate(0, -100%) rotateX(0deg);
      transition: 500ms;
      color: #666666;
      background-color: $main-color;
      cursor: default;
      &:hover {
        box-shadow: 0 -2px 7px 0 rgba(61, 51, 61, 1);
      }

      @media(max-width: $phone-landscape) {
        display: none;
      }
    }
  }

  .active-link {

    .active-side {
      transform: rotateX(0deg);
      color: $white;
      background-color: $main-color;
      box-shadow: 0 -2px 7px 0 rgba(61, 51, 61, 1);

      @media(max-width: $phone-landscape) {
        box-shadow: 0 0 7px 0 rgba(61, 51, 61, 1);
      }
    }

    .inactive-side {
      transform: translate(0, -50%) rotateX(90deg);
      color: $white;
    }
  }
}