//site colors

$main-color: #C6CD3D;
$secondary-color: #61287F;
$main-font-color: #666666;
$white: #FFFFFF;
$light-black: #2B1B17;


//breakpoints - desktop first

$desktop: 1500px;
$small-desktop: 1200px;
$tablet-landscape: 1100px;
$tablet-portrait: 900px;
$phone-landscape: 769px;
$phone-big-portrait: 600px;
$phone-portrait: 500px;
$small-phone-portrait: 350px;
