@import '../../../assets/scss/variables';

.offer-button {
  display: block;
  width: 150px;
  text-align: center;
  line-height: 70px;
  color: $white;
  height: 150px;
  margin: 10px;
  border: 1px solid $white;
  transition: 500ms;
  box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.75);
  cursor: default;
  text-decoration: none;
  &:hover {
    background-color: lighten($secondary-color, 5%);
    box-shadow: inset 0 0 20px -2px rgba(0, 0, 0, 0.75);
    transition: 500ms;
  }

  @media(max-width: $phone-big-portrait) {
    width: 130px;
    height: 130px;
    margin: 10px 5px;
    line-height: 60px;

    img {
      transform: scale(0.8, 0.8);
    }
  }

  span {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;

    @media(max-width: $phone-big-portrait) {
      font-size: 1.4rem;
    }
  }
}

.active-offer-button {
  background-color: lighten($secondary-color, 5%);
  box-shadow: inset 0 0 20px -2px rgba(0, 0, 0, 0.75);
  transition: 500ms;
}