@import '../../assets/scss/variables';

header {
  width: 100%;

  .header-content {
    height: 360px;
    background: url('../../assets/images/header-background-big.jpg') no-repeat center/cover;

    @media(max-width: $tablet-landscape) {
      height: 300px;
      background-image: url('../../assets/images/header-background-medium.jpg');
    }

    @media(max-width: $phone-landscape) {
      height: 260px;
      background-image: url('../../assets/images/header-background-small.jpg');
    }
  }

  .nav-bar {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background-color: $main-color;

    @media(max-width: $phone-landscape) {
      top: 0;
    }
  }

  .nav-bar-fixed {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-left: 70px;
      height: 40px;

      @media(max-width: $phone-landscape) {
        margin-left: 0;
      }
    }

    .menu {
      display: flex;

      @media(max-width: $phone-landscape) {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 60px;
        left: 0;
        background-color: $main-color;
        height: calc(100vh - 60px);
        width: 100vw;
        z-index: 5;
        padding-bottom: 60px;
      }
    }

    .blank-mobile-menu {

      @media(max-width: $phone-landscape) {
        display: none;
      }
    }
  }
}