@import '../../../assets/scss/variables';

.map-wrapper {
  margin-top: 70px;
  position: relative;
  height: 50vh;

  @media(max-width: $tablet-portrait) {
    margin-top: 50px;
  }

  h3 {
    padding-right: 10px;
  }
}